<button type="button" data-target="mis-checked "class="counter unbutton miserable" 
    aria-label="{{ localize "AIME.Miserable" }}" 
    data-tooltip="AIME.Miserable"
    aria-pressed="{{ flags.aime.attributes.miserable }}">
        <input type="checkbox" data-input="mis-checked" name="flags.aime.attributes.miserable" data-dtype="Boolean" {{checked flags.aime.attributes.miserable}}/>
</button>
